<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-users [user]="users[0]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-users [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-users [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-users [user]="users[3]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-users
        [user]="users[4]"
        (select)="onSelectUser($event)"
      /><!--Custom Event call : Select-->
    </li>
  </ul>

  <app-tasks [name]="selectedUser ? selectedUser.name : ''" />
</main>
